{% extends 'arroweb.html.twig' %}

{% block title %}Claire Bourdalé, développeuse web freelance à Caen - Calvados (14){% endblock %}

{% block bandeau1 %}

	<div class="showcase presta-picture1">
		<div class="layer">
			<h3>A propos</h3>
			<p class="intro">...</p>
		</div><!-- /.layer -->
	</div><!-- /.showcase -->

{% endblock %}

{% block bandeau2 %}
		<div class="row">
			<div class="col-12 col-md-10">
				<h1>Qui suis-je ?</h1>
				
			    
			    <div class="element-gauche">
			    	<p>Développeuse web polyvalente, je "code" des sites Internet depuis 2005. Passionnée de nouvelles technologies, je maintiens une veille permanente sur les évolutions du web.</p>
			    	<p>Plus que tout, <strong>j'aime apprendre</strong> : je me forme continuellement aux nouveaux outils et techniques.</p>

			    	<p>Au quotidien, j'adhère à une philophie de vie positive et suis animée par différentes valeurs :</p>

			    	<ul>
			    		<li><strong>Patience &amp; Calme :</strong> j'aime prendre le temps d'écouter mon interlocuteur</li>
			    		<li><strong>Curiosité &amp; Envie :</strong> j'aime découvrir et m'intéresser aux domaines, secteurs, activités de mes clients</li>
			    		<li><strong>Analyse &amp; Réflexion :</strong> j'aime prendre du recul pour comprendre une problématique et trouver une solution adaptée</li>
			    		<li><strong>Rigueur &amp; Qualité :</strong> j'aime assurément le travail bien fait et m'investir avec sérieux dans les projets qui me sont confiés</li>
			    		<li><strong>Bonne humeur &amp; Optimisme :</strong> sourire, expression essentielle pour une relation humaine sereine</li>
			    	</ul>

			    	<p>Mon attitude professionnelle se nourrit également fortement de ma <a href="{{ path('prestation_sport') }}">passion pour le sport</a>, en particulier de ma pratique du judo dont le <a href="http://www.ffjudo.com/les-valeurs" target="_blank">code moral</a> m'imprègne chaque jour.</p>


				</div><!-- /.element-gauche -->

				<div class="element-gauche">
					<h2>Outils et technologies</h2>
					<p>Ci-dessous un aperçu des outils et technologies que j'utilise dans la création des sites Internet que je réalise :</p>

					<p>
						<img src="{{ asset('img/outils/php.png') }}" alt="PHP" title="PHP" />
						<img src="{{ asset('img/outils/mysql.png') }}" alt="mysql" title="MySQL" />
						<img src="{{ asset('img/outils/html5.png') }}" alt="HTML5" title="HTML5" />
						<img src="{{ asset('img/outils/css.png') }}" alt="CSS3" title="CSS3" />
						<img src="{{ asset('img/outils/javascript.png') }}" alt="javaScript" title="javaScript" />
						<img src="{{ asset('img/outils/symfony.png') }}" alt="Symfony" title="Symfony" />
						<img src="{{ asset('img/outils/bootstrap.png') }}" alt="Bootstrap" title="Bootstrap" />
						<img src="{{ asset('img/outils/git.jpg') }}" alt="Git" title="Git" />
						<img src="{{ asset('img/outils/wordpress.png') }}" alt="Wordpress" title="Wordpress" />
						<img src="{{ asset('img/outils/seo.png') }}" alt="SEO" title="SEO" />
						<img src="{{ asset('img/outils/gimp.png') }}" alt="Gimp" title="Gimp" />
						<img src="{{ asset('img/outils/photoshop.jpg') }}" alt="Photoshop" title="Photoshop" />
						<img src="{{ asset('img/outils/inkscape.png') }}" alt="Inkscape" title="Inkscape" />
					</p>

				</div><!-- /.element-gauche -->
				
				


    		</div><!-- /.col -->

			<div class="col-12 col-md-2">
				<p class="text-center"><img src="{{ asset('img/web-project.png') }}" class="img-fluid" alt="Refonte de site Internet" title="" /></p>
			</div><!-- /.col -->
	</div><!-- /.row -->

{% endblock %}

