{% extends 'arroweb.html.twig' %}

{% block title %}Devis pour la création d'un site Internet professionnel{% endblock %}


{% block bandeau2 %}
	<section class="contact">
		<h1>Contact</h1>
		<p>Pour tous vos projets web, je vous invite à me contacter aux coordonnées ci-dessous ou via le formulaire ci-après.<br />Je me tiens à votre disposition pour échanger sur vos besoins et établir un devis.</p>
		<p>Installée sur la région de Caen, je me déplace sur toute la Normandie et la Bretagne.</p>

		<div class="row">

			<div class="col-12 col-md-4">

				<section class="coordonnee">
					<p><strong>Claire Bourdalé</strong></p>
					<p><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:claire@arroweb.net">claire@arroweb.net</a></p>
					<p><i class="fa fa-phone" aria-hidden="true"></i> 06 86 45 98 17</p>
					<p><i class="fa fa-map-marker" aria-hidden="true"></i> 14210 Baron sur Odon</p>
					<p><i class="fa fa-facebook" aria-hidden="true"></i> <a href="https://www.facebook.com/arrowebCaen/" target="_blank">@arrowebCaen</a></p>
					<p><i class="fa fa-twitter" aria-hidden="true"></i> <a href="https://twitter.com/clairebourdale" target="_blank">@clairebourdale</a></p>
				</section>

				{% for message in app.session.flashbag.get('success') %}
		                <div class="alert alert-success" role="alert"><strong><i class="fa fa-check-square-o" aria-hidden="true"></i> {{ message }} </strong></div>
		        {% endfor %}

		    </div><!-- /.col -->

        	<div class="col-12 col-md-8">


				{{ form_start(form) }}
				{% form_theme form 'form/fields.html.twig' %}

					
					<div class="form-group">
						{{ form_label(form.name, "Votre nom*", {'label_attr': {'class': 'control-label'}}) }}
						{{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
						{{ form_errors(form.name) }}
					</div>

					<div class="form-group">
						{{ form_label(form.subject, "Votre société ou organisme (le cas échéant)", {'label_attr': {'class': 'control-label'}}) }}
						{{ form_widget(form.subject, {'attr': {'class': 'form-control'}}) }}
						{{ form_errors(form.subject) }}
					</div>

					<div class="form-group">
						{{ form_label(form.email, "Votre e-mail*", {'label_attr': {'class': 'control-label'}}) }}
						{{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
						{{ form_errors(form.email) }}
					</div>

					

					<div class="form-group">
						{{ form_label(form.message, "Votre message*", {'label_attr': {'class': 'control-label'}}) }}
						{{ form_widget(form.message, {'attr': {'class': 'form-control'}}) }}
						{{ form_errors(form.message) }}
					</div>

					{# Render CSRF token etc .#}
					<div style="display:none">
						{{ form_rest(form) }}
					</div>

					<input type="submit" value="Valider">
					<p><em><br />*Champs obligatoires pour l'envoi du message<br />
					Protection de vos données personnelles : <a href="{{ path('protection') }}">cliquez ici</a></em></p>

				{{ form_end(form) }}

				

			</div><!-- /.col -->
		</div><!-- /.row -->
	</section>

{% endblock %}

