{% extends 'arroweb.html.twig' %}

{% block title %}LEs gens{% endblock %}

{% block bandeau1 %}
	<div class="row">
		<div class="col-12 col-md-4"> 
			<img src="{{ asset('img/site-internet-neophite.png') }}" class="img-fluid" alt="Créer un site Internet quand on y connaît rien" title="" />
		</div><!-- /.col -->

		<div class="col-12 col-sm-10 col-md-8">
			<p class="intro">Vous avez besoin d'un site Internet ?<br />
			Mais vous n'y <strong>connaissez rien du tout</strong> ?<br />
			Pas de soucis, suivez-moi !<br />
			<img src="{{ asset('img/avion.png') }}" class="img-fluid anim1" alt="" title="" /></p>

			<p class="intro2 text-right">Pour la création de votre site, je vous explique tout par ici :
			<a href="#" class="btn btn-primary">Votre site Internet sur mesure</a>
			</p>
		</div><!-- /.col -->
	</div><!-- /.row -->
{% endblock %}

{% block bandeau2 %}
	<h1 class="text-center"><img src="{{ asset('img/logo-arroweb.png') }}" class="img-fluid logo" alt="" title="" /><br />
	Conception &#149; Refonte &#149; Maintenance de site Internet</h1>
    
    <div class="row">

		<!-- 1ère Card -->
		<div class="col-12 col-sm-6 col-md-4">
			<div class="card">
				<img class="card-img-top" src="{{ asset('img/site-internet-sur-mesure.png') }}" alt="Conception de site Internet sur mesure à Caen, en Normandie" title="Conception de votre site Internet sur mesure">
				<div class="card-block">
				<h4 class="card-title">Site Internet sur mesure</h4>
				<p class="card-text">Vous ne savez pas par quel bout prendre votre projet web ? Approche éditoriale, ergonomie, référencement, fonctionnalités, développement, mise en ligne : c'est du chinois pour vous ?<br /><strong>Je vous accompagne pas à pas...</strong></p>
				<a href="#" class="btn btn-primary">En savoir +</a>
				</div><!-- /.card-block -->
			</div><!-- /.card -->
		</div><!-- /.col -->
		<!-- /.1ère Card -->

		<!-- 2ème Card -->
		<div class="col-12 col-sm-6 col-md-4">
			<div class="card">
				<img class="card-img-top" src="{{ asset('img/site-internet-wordpress.jpg') }}" alt="Conception de site Internet Wordpress" title="Conception de site Internet Wordpress">
				<div class="card-block">
				<h4 class="card-title">Site Internet Wordpress</h4>
				<p class="card-text">Vous avez déjà entendu le mot "Wordpress" au détour d'une conversation ? Ça vous intrigue ? Vous aimeriez que votre site soit un "site Wordpress" ? <br /><strong>J'ai ce qu'il vous faut...</strong> </p>
				<a href="#" class="btn btn-primary">En savoir +</a>
				</div><!-- /.card-block -->
			</div><!-- /.card -->
		</div><!-- /.col -->
		<!-- /.2ème Card -->

		<!-- 3ème Card -->
		<div class="col-12 col-sm-6 col-md-4">
			<div class="card">
				<img class="card-img-top" src="{{ asset('img/refonte-site-internet.jpg') }}" alt="Refonte site Internet, Caen, Normandie" title="Refonte de site Internet">
				<div class="card-block">
				<h4 class="card-title">Refonte Web</h4>
				<p class="card-text">Vous avez déjà un site Internet, mais il est, comment dire, un peu <del>vieillot</del> dépassé ?<br />Il n'est pas adapté pour une lecture sur téléphone ou tablette ?<br /><strong>Je m'en charge...</strong></p>
				<a href="#" class="btn btn-primary">En savoir +</a>
				</div><!-- /.card-block -->
			</div><!-- /.card -->
		</div><!-- /.col -->
		<!-- /.3ème Card -->


		<!-- 4ème Card -->
		<div class="col-12 col-sm-6 col-md-4">
			<div class="card">
				<img class="card-img-top" src="{{ asset('img/maintenance-actualisation-site-internet.jpg') }}" alt="Maintenance et actualisation de site Internet" title="Maintenance et actualisation de site Internet">
				<div class="card-block">
				<h4 class="card-title">Maintenance et actualisation</h4>
				<p class="card-text">Votre site est en ligne, que faire ensuite ?<br />Vous souhaiteriez apporter des modifications ?<br /> Vous n'avez pas le temps d'alimenter en contenu vos pages ?<br /><strong>J'ai des solutions...</strong></p>
				<a href="#" class="btn btn-primary">En savoir +</a>
				</div><!-- /.card-block -->
			</div><!-- /.card -->
		</div><!-- /. col -->
		<!-- /.4ème Card -->   

		<!-- 5ème Card -->
		<div class="col-12 col-sm-6 col-md-4">
			<div class="card">
				<img class="card-img-top" src="{{ asset('img/integration-web.jpg') }}" alt="Intégration web" title="Intégration Web">
				<div class="card-block">
				<h4 class="card-title">Intégration Web</h4>
				<p class="card-text">Vous avez déjà votre projet sur le papier ?<br />Des maquettes de design réalisées par votre graphiste ?<br />Il vous manque juste le passage "informatique" en pages web ?<br />
				<strong>Je m'en occupe...</strong></p>
				<a href="#" class="btn btn-primary">En savoir +</a>
				</div><!-- /.card-block -->
			</div><!-- /.card -->
		</div><!-- /.col -->
		<!-- /.5ème Card -->

		<!-- 6ème Card -->
		<div class="col-12 col-sm-6 col-md-4">
			<div class="card">
				<img class="card-img-top" src="{{ asset('img/site-internet-sport.jpg') }}" alt="Site Internet Sportif et événementiel sportif" title="Web et Sport">
				<div class="card-block">
				<h4 class="card-title">Web &amp; Sport</h4>
				<p class="card-text">Votre projet web est en rapport avec le sport ? Votre site Internet concerne un événement sportif ?<br />Vous êtes à la bonne adresse...<br /><strong>Je vous ai déjà parlé de ma passion pour le sport ?</strong></p>
				<a href="#" class="btn btn-warning">En savoir +</a>
				</div><!-- /.card-block -->
			</div><!-- /.card -->
		</div><!-- /.col -->
		<!-- /.6ème Card -->

    </div><!-- /.row ligne des 6 cards -->

{% endblock %}

