{% extends 'admin.html.twig' %}

{% block title %}Editer une référence{% endblock %}

{% block contenu %}

	<h1>Editer une référence</h1>

	{{ include("ArrowebBundle:portfolio:form.html.twig") }}

	<h4><br />Images actuelles</h4>
	<h5>Grande image</h5>
	<p><img src="{{ asset('img/portfolio/') }}{{ reference.picture.imageName }}" alt="" title="" /></p>

	<h5>Thumbnail</h5>
	<p><img src="{{ asset('img/portfolio/') }}{{ reference.thumbnail.imageName }}" alt="" title="" /></p>


{% endblock %}




