{% extends 'arroweb.html.twig' %}

{% block title %}Portfolio - Références en conception de site Internet - Caen - Normandie{% endblock %}



{% block bandeau2 %}
	<section class="portfolio">
	<div class="row">
		<div class="col-12">

			<h1 class="portfolio">Portfolio</h1>
			<p class="chapeau">Vous trouverez ci-dessous une sélection de quelques sites Internet que j'ai réalisés.</p>

			<div class="row">

				<!-- EXEMPLE 1 -->
				{% for reference in listeReferences %}
					<div class="col-12 col-md-6 col-lg-4">
						<div class="card text-center">
						  <img class="card-img-top" src="{{ asset('img/portfolio/') }}{{ reference.thumbnail.imageName }}" alt="" title="" />
						  <div class="card-block">
						    <p class="card-title">{{ reference.titre }}</p>
						    <a href="#" class="btn btn-primary" data-toggle="modal" data-target=".id-{{ reference.id }}">Infos</a>
						  </div><!-- /.cart-block -->
						</div><!-- /.card -->
					</div><!-- col -->

					<div class="modal fade id-{{ reference.id }}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
						<div class="modal-dialog modal-lg">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="exampleModalLabel">{{ reference.titre }}</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true" class="text-danger"><i class="fa fa-times-circle" aria-hidden="true"></i></span>
									</button>
								</div><!-- modal-header -->
								<div class="modal-body">
									<p>{{ reference.description }}</p>

									{% if reference.statut == 'En ligne' %}
										<p><strong>Statut :</strong> <span class="text-success"><i class="fa fa-toggle-on" aria-hidden="true"></i> {{ reference.statut }}</span><br />
										   <strong>Visiter le site : </strong> <a href="{{ reference.url }}" target="_blanl">{{ reference.url }}</a></p>
									{% else %}
										<p><strong>Statut :</strong> <span class="text-danger"><i class="fa fa-plug" aria-hidden="true"></i> {{ reference.statut }}</span><br />
										</p>
									{% endif %}

									<p class="text-center"><img src="{{ asset('img/portfolio/') }}{{ reference.picture.imageName }}" class="img-fluid" alt="" title="" /></p>
								</div><!-- /.modal-body -->
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
								</div><!-- /.modal-footer -->
							</div><!-- /.modal-content -->
						</div><!-- /.modal-dialog -->
					</div><!-- /.modal -->
				{% endfor %}

				
			</div><!-- /.row -->

		</div><!-- /.col -->
	</div><!-- /.row -->
	</section>

{% endblock %}

