{% extends 'arroweb.html.twig' %}

{% block title %}Portofolio - Références en conception de site Internet - Caen - Normandie{% endblock %}



{% block bandeau2 %}
	<section class="portfolio">
	<div class="row">
		<div class="col-12">

			<h1 class="portfolio">Portfolio</h1>
			<p class="chapeau">Vous trouverez ci-dessous une sélection de quelques sites Internet que j'ai réalisés.</p>

			<div class="row">

				<!-- EXEMPLE 1 -->
				<div class="col-12 col-md-6 col-lg-4">
					<div class="card text-center">
					  <img class="card-img-top" src="{{ asset('img/portfolio-helene-dodier-thumb.jpg') }}" alt="" title="" />
					  <div class="card-block">
					    <p class="card-title">Hélène Dodier</p>
					    <a href="#" class="btn btn-primary" data-toggle="modal" data-target=".id-01">Infos</a>
					  </div><!-- /.cart-block -->
					</div><!-- /.card -->
				</div><!-- col -->

				<div class="modal fade id-01" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
					<div class="modal-dialog modal-lg">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLabel">Hélène Dodier</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true" class="text-danger"><i class="fa fa-times-circle" aria-hidden="true"></i></span>
								</button>
							</div><!-- modal-header -->
							<div class="modal-body">
								<p>Site Internet officiel de la pilote de char à voile double championne du monde</p>
								<p><strong>Statut :</strong> <span class="text-success"><i class="fa fa-toggle-on" aria-hidden="true"></i> En ligne</span><br />
								   <strong>Visiter le site : </strong> <a href="">www.helenedodier.com</a></p>
								<p class="text-center"><img src="{{ asset('img/portfolio-helene-dodier.jpg') }}" class="img-fluid" alt="" title="" /></p>
							</div><!-- /.modal-body -->
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
							</div><!-- /.modal-footer -->
						</div><!-- /.modal-content -->
					</div><!-- /.modal-dialog -->
				</div><!-- /.modal -->

				<!-- EXEMPLE 2 -->
				<div class="col-12 col-md-6 col-lg-4">
					<div class="card text-center">
					  <img class="card-img-top" src="{{ asset('img/portfolio-helene-dodier-thumb.jpg') }}" alt="" title="" />
					  <div class="card-block">
					    <p class="card-title">Hélène Dodier 2</p>
					    <a href="#" class="btn btn-primary" data-toggle="modal" data-target=".id-02">Infos</a>
					  </div><!-- /.cart-block -->
					</div><!-- /.card -->
				</div><!-- /.col -->

				<div class="modal fade id-02" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
					<div class="modal-dialog modal-lg">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLabel">Hélène Dodier 2</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true" class="text-danger"><i class="fa fa-times-circle" aria-hidden="true"></i></span>
								</button>
							</div><!-- modal-header -->
							<div class="modal-body">
								<p>Site Web officiel de la pilote de char à voile double championne du monde</p>
								<p><strong>Statut :</strong> <span class="text-success"><i class="fa fa-toggle-on" aria-hidden="true"></i> En ligne</span><br />
								   <strong>Visiter le site : </strong> <a href="">www.helenedodier.com</a></p>
								<p class="text-center"><img src="{{ asset('img/portfolio-helene-dodier.jpg') }}" class="img-fluid" alt="" title="" /></p>
							</div><!-- /.modal-body -->
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
							</div><!-- /.modal-footer -->
						</div><!-- /.modal-content -->
					</div><!-- /.modal-dialog -->
				</div><!-- /.modal -->

				<!-- EXEMPLE 3 -->

				<div class="col-12 col-md-6 col-lg-4">
					<div class="card text-center">
					  <img class="card-img-top" src="{{ asset('img/portfolio-helene-dodier-thumb.jpg') }}" alt="" title="" />
					  <div class="card-block">
					    <p class="card-title">Hélène Dodier 3</p>
					    <a href="#" class="btn btn-primary" data-toggle="modal" data-target=".id-03">Infos</a>
					  </div><!-- /.cart-block -->
					</div><!-- /.card -->
				</div><!-- /.col -->

				<div class="modal fade id-03" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
					<div class="modal-dialog modal-lg">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLabel">Hélène Dodier 3</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true" class="text-danger"><i class="fa fa-times-circle" aria-hidden="true"></i></span>
								</button>
							</div><!-- modal-header -->
							<div class="modal-body">
								<p>Site Web officiel de la pilote de char à voile double championne du monde</p>
								<p><strong>Statut :</strong> <span class="text-success"><i class="fa fa-toggle-on" aria-hidden="true"></i> En ligne</span><br />
								   <strong>Visiter le site : </strong> <a href="">www.helenedodier.com</a></p>
								<p class="text-center"><img src="{{ asset('img/portfolio-helene-dodier.jpg') }}" class="img-fluid" alt="" title="" /></p>
							</div><!-- /.modal-body -->
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
							</div><!-- /.modal-footer -->
						</div><!-- /.modal-content -->
					</div><!-- /.modal-dialog -->
				</div><!-- /.modal -->

				<!-- EXEMPLE 4 -->

				<div class="col-12 col-md-6 col-lg-4">
					<div class="card text-center">
					  <img class="card-img-top" src="{{ asset('img/portfolio-helene-dodier-thumb.jpg') }}" alt="" title="" />
					  <div class="card-block">
					    <p class="card-title">Hélène Dodier 4</p>
					    <a href="#" class="btn btn-primary" data-toggle="modal" data-target=".id-04">Infos</a>
					  </div><!-- /.cart-block -->
					</div><!-- /.card -->
				</div><!-- /.col -->

				<div class="modal fade id-04" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
					<div class="modal-dialog modal-lg">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLabel">Hélène Dodier 4</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true" class="text-danger"><i class="fa fa-times-circle" aria-hidden="true"></i></span>
								</button>
							</div><!-- modal-header -->
							<div class="modal-body">
								<p>Site Web officiel de la pilote de char à voile double championne du monde</p>
								<p><strong>Statut :</strong> <span class="text-success"><i class="fa fa-toggle-on" aria-hidden="true"></i> En ligne</span><br />
								   <strong>Visiter le site : </strong> <a href="">www.helenedodier.com</a></p>
								<p class="text-center"><img src="{{ asset('img/portfolio-helene-dodier.jpg') }}" class="img-fluid" alt="" title="" /></p>
							</div><!-- /.modal-body -->
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
							</div><!-- /.modal-footer -->
						</div><!-- /.modal-content -->
					</div><!-- /.modal-dialog -->
				</div><!-- /.modal -->

			</div><!-- /.row -->

		</div><!-- /.col -->
	</div><!-- /.row -->
	</section>

{% endblock %}

